/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /** comprime les padding/magin plutot que de les aditionner**/
}

body {
    display: flex;
    justify-content: center;
}




:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-border-color: #D9D9D9;
    --filter-bg-color: #DEEBFF;
    --white-color: #FAFAFA;
    --black-color: #000000;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
}

main {
    padding: 0 50px;
}

.section-title {
    font-size: 22px;
}


.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/***** Header *****/

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 79px;
}

#logo {
    width: 61.09px;
    Height: 19px;
    margin: 30px 0 0px 30px;
}

nav a {
    text-decoration: none;
    /* supprime le soulignement par défaut des lien */
    color: var(--black-color);
}

nav a:hover {
    border-top: 2px var(--main-color) solid;
    padding-top: 14px;
    color: var(--main-color);
}

nav {
    margin-top: 16px;
    margin-right: 42.61px;
    font-size: 16px;
}

.nav-hebergements {
    margin-right: 69px;
}

/******First Section ****/
.info-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 30px;
    margin-bottom: 35px;
}

h1 {
    font-size: 22px;
    margin-bottom: 8px;
}

h1+p {
    font-size: 16px;
    margin-top: 8px;
}


/**** form ***/
.form1 {
    display: flex;
    width: 377px;
}

.map:hover,
#search:hover,
#button:hover,
.button-two:hover,
.map i:hover {
    cursor: pointer;
}

.map {
    background-color: var(--main-bg-color);
    border: 1px var(--main-bg-color) solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 50px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 18px 0 18px;
}

.map i {
    color: var(--black-color);
}

#search {
    border: none;
    border-top: 1px var(--main-bg-color) solid;
    border-bottom: 1px var(--main-bg-color) solid;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}


#button {
    background-color: var(--main-color);
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 132px;
    height: 49px;
    color: var(--white-color);
    padding: 0 16px 0 16px;
    font-weight: bold;
    font-size: 18px;
}

.button-two {
    display: none;
    background-color: var(--main-color);
    border: none;
    border-radius: 15px;
    width: 49px;
    height: 49px;
    color: var(--white-color);
    font-weight: bold;
    font-size: 18px;
}

.button-two i {
    color: var(--white-color);
}

/*****  Filtre *****/

.filter {
    display: flex;
    align-items: center;
}

.filter i {
    margin-right: 10px;
}

.filter h2 {
    margin-right: 15px;
    font-size: 18px;
}

.box {
    border: 2px var(--filter-border-color) solid;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 50px;
    width: 173px;
}

.box p {
    font-size: 17px;
}

.box:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.conteneur {
    display: flex;
    gap: 15px;
}

.second-filter,
.first-filter {
    display: flex;
    gap: 15px;
}

/**** 500 logement ****/
.logements {
    display: flex;
    align-items: center;
}

.cercle {
    border: 1px var(--filter-border-color) solid;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    min-width: 24px;
    /** min ==> pour pas que le cercle s'écrase lorsque on diminue la tail de l'écran **/
    min-height: 24px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logements p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5px 0 2.5px 0;
    font-size: 16px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.hebergements-and-populaires a {
    text-decoration: none;
    color: var(--black-color);
}

.card {
    background-color: var(--white-color);
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition: 0.5s;
}

.populaires .card {
    padding: 5px;
}

.card img {
    object-fit: cover;
}

#hebergements .show-more {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

.card:hover {
    transform: scale(1.05);
}


/****** Hebergements ***********/
#hebergements {
    width: 65%;
    padding: 30px;

}

#hebergements a {
    display: block;
}

.hebergements-cards a {
    padding: 5px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

#hebergements .card {
    flex: 1 0 25%;
    /** flex-grow flex-shrink flex-basis **/
}

#hebergements h2 {
    margin-bottom: 30px;
}

#hebergements h3 {
    margin-top: 4px;
    margin-bottom: 8px;
}

#hebergements .card-rating {
    margin-top: 8px;
}

#hebergements .card-content {
    padding: 0 10px 10px 10px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
    padding: 30px;

}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
    transition: 0.5s;
}



.populaires-cards img {
    width: 33%;
    height: 144px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/**** activités à marseille *****/
#activity {
    padding: 30px;
    margin-top: 35px;
    margin-bottom: 35px;
}

#activity a {
    display: block;
    text-decoration: none;
    color: var(--black-color);
}

.activity-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#activity .card {
    width: 25%;
}

.activity-cards {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.activity-cards h3 {
    padding: 20px 19px 20px 19px;
}


/***** Footer *****/
footer {
    display: flex;
    background-color: var(--main-bg-color);
    padding: 20px 20px 20px 0;
    margin: 0 50px;
}

footer div {
    width: 100%;
    padding-left: 20px;
}

h4 {
    font-size: 18px;
}

li {
    font-size: 16px;
    margin-top: 15px;
}

footer a {
    text-decoration: none;
    color: var(--black-color);
}

ul {
    list-style: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* limit 1440px */

@media (min-width: 1440px) {
    body {
        width: 1440px;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    #logo {
        margin: 30px 50px;
    }

    nav {
        margin-right: 50.31px;
    }

    .filter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .box {
        width: 161px;
    }

    .filter p {
        font-size: 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    #hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards .card {
        margin-top: 20px;
    }

    .populaires-cards img {
        height: 146px;
    }

    .block-populaires {
        width: 30%;
    }

    .activity-cards img {
        height: 200px;
    }

    .activity-cards h3 {
        padding: 16px 19px 16px 19px;
    }

    footer {
        gap: 30px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    main {
        padding: 0;
    }

    footer {
        padding: 0;
    }


    /*  header*/

    header {
        flex-direction: column;
    }

    .logo-block {
        width: 100%;
        height: 79px;
        display: flex;
        justify-content: center;
    }

    nav {
        height: 36px;
        display: flex;
    }

    nav a {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px var(--main-bg-color) solid;
        padding-bottom: 15px;
    }

    #logo {
        margin: 0;
    }

    nav {
        margin: 0;
    }

    .nav-hebergements {
        margin: 0;
    }

    nav a:hover {
        border-top: none;
        padding-top: 0;
        border-bottom: 2px var(--main-color) solid;
    }

    /** infogroup **/
    .info-group {
        padding: 0 20px 0 20px;
    }

    /**filtre**/
    .conteneur {
        gap: 20px;
        flex-direction: column;
        width: 100%;
    }

    .second-filter,
    .first-filter {
        gap: 10px;
    }

    .box {
        width: 50%;
    }

    .filter p {
        font-size: 14px;
    }

    /**button**/

    #button {
        display: none;
    }

    .button-two {
        display: block;
        width: 20%;
    }

    .form1 {
        width: 100%;
    }


    .map {
        width: 20%;
    }

    #search {
        width: 60%;
        margin-right: -10px;
    }

    /** 500logements**/
    .logements p {
        padding: 0;
    }

    /** populaire et hebergement **/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    #hebergements {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    .hebergements-cards {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 15px;
    }

    .card.photo-hebergements-one {
        order: 1;
    }

    .card.photo-hebergements-two {
        order: 6;
    }

    .card.photo-hebergements-three {
        order: 3;
    }

    .card.photo-hebergements-four {
        order: 4;
    }

    .card.photo-hebergements-five {
        order: 2;
    }

    .card.photo-hebergements-six {
        order: 5;
    }

    .populaires {
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 0;
    }

    .block-populaires {
        width: 100%;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }


    #hebergements h2 {
        margin-bottom: 0;
    }

    #hebergements .show-more {
        margin-top: 0;
    }


    /** Activity **/

    #activity {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #activity .card {
        width: 100%;
    }

    .activity-cards {
        flex-direction: column;
        gap: 15px;
        margin-top: 0;
    }

    .activity-cards img {
        height: 141px;
    }

    .activity-cards h3 {
        padding: 20px 19px 20px 19px;
    }

    /** footer **/

    footer {
        flex-direction: column;
        gap: 50px;
        padding: 30px 81.33px 30px 30px;
        margin: 0;
    }

    footer div {
        padding: 0;
    }

}

/* limit 320px */

@media (max-width: 320px) {
    body {
        width: 320px;
    }
}